<header class="shadow navbar navbar-dark bg-dark navbar-expand-md d-none d-md-flex"
    style="position: sticky; top: 0; z-index: 1030;">
    <a class="navbar-brand" href="/">
        <img src="/assets/images/mightyphp_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        MightyPHP
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <!-- <a class="nav-link" href="{{ site.baseurl }}/docs">Documentations</a> -->
                <a class="nav-link" target="_blank" href="https://mightyphp.gitbook.io/mightyphp/">Documentations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://github.com/MightyPHP/MightyPHP">GitHub <span
                        class="sr-only">(current)</span></a>
            </li>

            <!-- <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://blog.desmondchin.xyz/tag/mightyphp/">Developer's Blog</a>
            </li> -->
        </ul>
    </div>
</header>

<header class="shadow navbar navbar-dark bg-dark d-md-none text-center">
    <a class="navbar-brand mx-auto" href="/">
        <img src="/assets/images/mightyphp_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        MightyPHP
    </a>
    <!-- <div class="collapse navbar-collapse" id="navbarNavDropdown"> -->
    <div class="mobile-menu">
        <ul class="navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/docs">Documentations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://github.com/MightyPHP/MightyPHP">GitHub <span
                        class="sr-only">(current)</span></a>
            </li>

            <!-- <li class="nav-item">
                                    <a class="nav-link" target="_blank" href="https://blog.desmondchin.xyz/tag/mightyphp/">Developer's Blog</a>
                                </li> -->
        </ul>
    </div>

    <!-- </div> -->
</header>